<h1> Hello {{title}}</h1>
<p>num click {{num}}</p>
<button (click)="clickButton()">clicca</button>
<br><br>
<input type="text" [(ngModel)]="title1" (keyup)="changeTitle()" placeholder="inserisci un titolo per la pagina" width="auto" style="padding: 2px">
<hr>
    <input required type="text" (keyup)="changeButtonState()" [(ngModel)]="name" placeholder="name">
    <input required type="text" (keyup)="changeButtonState()" [(ngModel)]="surname" placeholder="surname">
    <input required type="number" (keyup)="changeButtonState()" [(ngModel)]="age" placeholder="age">
    <button (click)="addPerson()" [disabled]="buttonDisabled">aggiungi</button>
    <button (click)="saveEditedPerson()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>

<div *ngFor="let p of people">
    <p>Nome: {{p.name}}</p>
    <p>Cognome: {{p.surname}}</p>
    <p>Età: {{p.age}}</p>
    <button (click)="editPerson(p)">modifica</button>
    <button (click)="deletePerson(p)">elimina</button>
    <hr>
</div>
